<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style type="text/css">
            body {
                background-color: black;
                padding-top: 70px;
            }
            #locInput {
                width: 200px;
            }
            #sizeInput {
                width: 75px;
            }
            #bandInput {
                width: 75px;
            }
            #speedInput {
                padding-top: 8px;
            }
            #navbar {
                margin: auto;
            }
            #navbar span {
                font-size: 1.5em;
                padding-left: 10px;
                padding-top: 8x;
            }
            #image {
                margin: auto;
                background: gray;
            }
            #navbar ul {
                padding-top: 8px;
                color: white;
            }
            .navbar-nav li {
                padding-right: 15px;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            var url = "/convert?"
            var versions = ["allwise", "neo1", "neo2"];
            var images = [];
            var image = 0;
            var timer;

            function reset () {
                clearInterval(timer);
                images = [];
                image = 0;
            }

            jQuery(function () {
                var container = jQuery("#image");
                var speed = jQuery("#speedInput");
                var speed_out = jQuery("#speedValue");

                function updateSpeed () {
                    console.log("...");
                    speed_out.text(speed.val());
                }

                function repeat () {
                    container.empty();
                    container.append(images[image]);
                    jQuery("#version").text(versions[image]);
                    image = (image + 1) % images.length;
                }

                jQuery("form").submit(function (e) {
                    e.preventDefault();
                });

                jQuery("#speedInput").on('input change', function () {
                    clearInterval(timer);
                    updateSpeed();
                    timer = setInterval(repeat, this.value);
                })

                jQuery("#load").click(function () {
                    reset();

                    var loc = jQuery("#locInput").val();
                    var size = jQuery("#sizeInput").val();
                    var band = jQuery("#bandInput").val();

                    var ra = loc.split(/(?:\s*,?)\s+/)[0].trim();
                    var dec = loc.split(/(?:\s*,?)\s+/)[1].trim();

                    versions.forEach(function (value) {
                        var new_url = url + jQuery.param({ra: ra, dec: dec, size: size, band:band, version: value});
                        var new_img = document.createElement("img");
                        new_img.setAttribute("src", new_url);
                        images.push(new_img);
                    })

                    updateSpeed();
                    interval = +speed.val();
                    timer = setInterval(repeat, interval);
                });

                updateSpeed();

            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div id="navbar" class="collapse navbar-collapse">
                    <form class="form-inline" id="nosubmit">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="form-group">
                                    <label for="locInput">Location</label>
                                    <input type="text" class="form-control" id="locInput">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label for="sizeInput">Size</label>
                                    <input type="text" class="form-control" id="sizeInput" value="100">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label for="bandInput">Band</label>
                                    <input type="text" class="form-control" id="bandInput" value="1">
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-default" id="load">Load</button>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input type="range" min="50" max="5000" value="1000" id="speedInput">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <span id="speedValue"></span>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <span id="version"></span>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="image"></div>
        </div>
    </body>
</html>