<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style type="text/css">
            body {
                background-color: black;
                padding-top: 70px;
            }
            #locInput {
                width: 200px;
            }
            #sizeInput, #bandInput, #brightInput {
                width: 50px;
            }
            #speedInput {
                padding-top: 8px;
            }
            #navbar {
                margin: auto;
            }
            #navbar span {
                font-size: 1.5em;
                padding-left: 10px;
                padding-top: 8x;
            }
            #image {
                margin: auto;
            }
            #navbar ul {
                padding-top: 8px;
                color: white;
            }
            .navbar-nav li {
                padding-right: 15px;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            var url = "/convert?"
            var versions = ["allwise", "neo1", "neo2"];

            function WiseSwapper () {
                this.container = jQuery("#image");
                this.loc_input = jQuery("#locInput");
                this.size_input = jQuery("#sizeInput");
                this.band_input = jQuery("#bandInput");
                this.equalize_input = jQuery("#equalizeInput");
                this.bright_input = jQuery("#brightInput");
                this.speed_input = jQuery("#speedInput");
                this.speed_output = jQuery("#speedValue");
                this.ver_output = jQuery("#verValue");

                this.updateSpeed = function () {
                    clearInterval(this.interval);
                    this.speed_output.text(this.speed_input.val());
                    this.interval = setInterval(this.repeat.bind(this), +this.speed_input.val());
                    this.updateUrl();
                }

                this.updateUrl = function () {
                    var loc_split = this.parseLoc();

                    window.location.hash = jQuery.param({
                        ra: loc_split[0], 
                        dec: loc_split[1], 
                        size: this.size_input.val(), 
                        band: this.band_input.val(), 
                        speed: this.speed_input.val(), 
                        brighten: this.bright_input.val(),
                        equalize: this.equalize_input.prop("checked"), 
                    });
                }

                this.fromUrl = function () {
                    var raw = window.location.hash.substr(1);
                    var map = {};
                    raw.split("&").forEach(function (kv) {
                        var split = kv.split("=");
                        map[split[0]] = split[1];
                    });
                    this.loc_input.val((map.ra || "") + " " + (map.dec || ""));
                    this.size_input.val(map.size || 100);
                    this.band_input.val(map.band || 1);
	            if ('equalize' in map) {
                        this.equalize_input.prop("checked", map.equalize == 'true');
	            } else {
                        this.equalize_input.prop("checked", true);
	            }
                    this.speed_input.val(map.speed || 1000);
                    this.bright_input.val(map.brighten || 64);

                    this.restart();
                }

                this.parseLoc = function () {
                    var loc_split = this.loc_input.val().split(/(?:\s*,?)\s+/);
                    return [loc_split[0].trim(), loc_split[1].trim()]
                }

                this.reset = function () {
                    clearInterval(this.interval);
                    this.images = [];
                    this.cur_img = 0;
                }

                this.repeat = function () {
                    this.container.empty();
                    this.container.append(this.images[this.cur_img]);
                    this.ver_output.text(versions[this.cur_img]);
                    this.cur_img = (this.cur_img + 1) % this.images.length;
                }

                this.restart = function () {
                    this.reset();

                    var loc_split = this.parseLoc();

                    var that = this;
                    versions.forEach(function (value) {
                        var new_url = url + jQuery.param({
                            ra: loc_split[0], 
                            dec: loc_split[1], 
                            size: that.size_input.val(), 
                            band: that.band_input.val(), 
                            equalize: that.equalize_input.prop("checked"), 
                            brighten: that.bright_input.val(),
                            version: value
                        });
                        var new_img = document.createElement("img");
                        new_img.setAttribute("src", new_url);
                        that.images.push(new_img);
                    });

                    this.updateUrl();
                    this.updateSpeed();
                    this.repeat();
                }
            }

            jQuery(function () {
                jQuery("form").submit(function (e) {
                    e.preventDefault();
                });

                var ws = new WiseSwapper();

                if (window.location.hash) {
                    ws.fromUrl();
                }

                jQuery("#load").click(ws.restart.bind(ws));
                jQuery("#speedInput").on('input change', ws.updateSpeed.bind(ws));

            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div id="navbar" class="collapse navbar-collapse">
                    <form class="form-inline" id="nosubmit">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="form-group">
                                    <label for="locInput">Location</label>
                                    <input type="text" class="form-control" id="locInput">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label for="sizeInput">Size</label>
                                    <input type="text" class="form-control" id="sizeInput" value="100">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label for="bandInput">Band</label>
                                    <input type="text" class="form-control" id="bandInput" value="1">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label for="brightInput">Brighten</label>
                                    <input type="text" class="form-control" id="brightInput" value="64">
                                </div>
                            </li>
			    <li>
                                <div class="form-group">
                                    <label for="equalizeInput">Eq</label>
                                    <input type="checkbox" class="form-control" id="equalizeInput" checked>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-default" id="load">Load</button>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input type="range" min="20" max="3000" value="1000" id="speedInput">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <span id="speedValue"></span>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <span id="verValue"></span>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="image"></div>
        </div>
    </body>
</html>
